[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2024/3-grading-tests.git
[submodule "3-vvmaksim"]
	path = 3-vvmaksim
	url = git@github.com:spbu-coding-2024/3-vvmaksim.git
[submodule "3-Drenger"]
	path = 3-Drenger
	url = git@github.com:spbu-coding-2024/3-Drenger.git
[submodule "3-Stepiiiiiiik"]
	path = 3-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/3-Stepiiiiiiik.git
[submodule "3-Nasty12121"]
	path = 3-Nasty12121
	url = git@github.com:spbu-coding-2024/3-Nasty12121.git
[submodule "3-ivanovm-main"]
	path = 3-ivanovm-main
	url = git@github.com:spbu-coding-2024/3-ivanovm-main.git
[submodule "3-ilq1"]
	path = 3-ilq1
	url = git@github.com:spbu-coding-2024/3-ilq1.git
[submodule "3-ilyamaltsev05"]
	path = 3-ilyamaltsev05
	url = git@github.com:spbu-coding-2024/3-ilyamaltsev05.git
[submodule "3-g4rry1"]
	path = 3-g4rry1
	url = git@github.com:spbu-coding-2024/3-g4rry1.git
[submodule "3-XRenso"]
	path = 3-XRenso
	url = git@github.com:spbu-coding-2024/3-XRenso.git
[submodule "3-MickeyPashaev"]
	path = 3-MickeyPashaev
	url = git@github.com:spbu-coding-2024/3-MickeyPashaev.git
[submodule "3-vlapugb"]
	path = 3-vlapugb
	url = git@github.com:spbu-coding-2024/3-vlapugb.git
[submodule "3-ArsenijRomanov"]
	path = 3-ArsenijRomanov
	url = git@github.com:spbu-coding-2024/3-ArsenijRomanov.git
[submodule "3-semrosin"]
	path = 3-semrosin
	url = git@github.com:spbu-coding-2024/3-semrosin.git
[submodule "3-svetlana-saikina"]
	path = 3-svetlana-saikina
	url = git@github.com:spbu-coding-2024/3-svetlana-saikina.git
