[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2024/3-grading-tests.git
[submodule "3-vvmaksim"]
	path = 3-vvmaksim
	url = git@github.com:spbu-coding-2024/3-vvmaksim.git
[submodule "3-Drenger"]
	path = 3-Drenger
	url = git@github.com:spbu-coding-2024/3-Drenger.git
[submodule "3-Stepiiiiiiik"]
	path = 3-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/3-Stepiiiiiiik.git
[submodule "3-Nasty12121"]
	path = 3-Nasty12121
	url = git@github.com:spbu-coding-2024/3-Nasty12121.git
[submodule "3-ivanovm-main"]
	path = 3-ivanovm-main
	url = git@github.com:spbu-coding-2024/3-ivanovm-main.git
[submodule "3-ilq1"]
	path = 3-ilq1
	url = git@github.com:spbu-coding-2024/3-ilq1.git
[submodule "3-ilyamaltsev05"]
	path = 3-ilyamaltsev05
	url = git@github.com:spbu-coding-2024/3-ilyamaltsev05.git
[submodule "3-g4rry1"]
	path = 3-g4rry1
	url = git@github.com:spbu-coding-2024/3-g4rry1.git
[submodule "3-XRenso"]
	path = 3-XRenso
	url = git@github.com:spbu-coding-2024/3-XRenso.git
[submodule "3-MickeyPashaev"]
	path = 3-MickeyPashaev
	url = git@github.com:spbu-coding-2024/3-MickeyPashaev.git
[submodule "3-vlapugb"]
	path = 3-vlapugb
	url = git@github.com:spbu-coding-2024/3-vlapugb.git
[submodule "3-ArsenijRomanov"]
	path = 3-ArsenijRomanov
	url = git@github.com:spbu-coding-2024/3-ArsenijRomanov.git
[submodule "3-semrosin"]
	path = 3-semrosin
	url = git@github.com:spbu-coding-2024/3-semrosin.git
[submodule "3-svetlana-saikina"]
	path = 3-svetlana-saikina
	url = git@github.com:spbu-coding-2024/3-svetlana-saikina.git
[submodule "3-MikhailSvirukov"]
	path = 3-MikhailSvirukov
	url = git@github.com:spbu-coding-2024/3-MikhailSvirukov.git
[submodule "3-lospollosenjoyer"]
	path = 3-lospollosenjoyer
	url = git@github.com:spbu-coding-2024/3-lospollosenjoyer.git
[submodule "3-VladimirKhmelev"]
	path = 3-VladimirKhmelev
	url = git@github.com:spbu-coding-2024/3-VladimirKhmelev.git
[submodule "3-talubik"]
	path = 3-talubik
	url = git@github.com:spbu-coding-2024/3-talubik.git
[submodule "3-Nickovlev"]
	path = 3-Nickovlev
	url = git@github.com:spbu-coding-2024/3-Nickovlev.git
[submodule "3-pepeclub"]
	path = 3-pepeclub
	url = git@github.com:spbu-coding-2024/3-pepeclub.git
[submodule "3-Belyaev-Alexander"]
	path = 3-Belyaev-Alexander
	url = git@github.com:spbu-coding-2024/3-Belyaev-Alexander.git
[submodule "3-K0tB0ris"]
	path = 3-K0tB0ris
	url = git@github.com:spbu-coding-2024/3-K0tB0ris.git
[submodule "3-MaksimGSI"]
	path = 3-MaksimGSI
	url = git@github.com:spbu-coding-2024/3-MaksimGSI.git
[submodule "3-AlexandrGorbunov564"]
	path = 3-AlexandrGorbunov564
	url = git@github.com:spbu-coding-2024/3-AlexandrGorbunov564.git
[submodule "3-epishkin06"]
	path = 3-epishkin06
	url = git@github.com:spbu-coding-2024/3-epishkin06.git
[submodule "3-alken1t15"]
	path = 3-alken1t15
	url = git@github.com:spbu-coding-2024/3-alken1t15.git
[submodule "3-NIcolaiKl"]
	path = 3-NIcolaiKl
	url = git@github.com:spbu-coding-2024/3-NIcolaiKl.git
[submodule "3-pechenb"]
	path = 3-pechenb
	url = git@github.com:spbu-coding-2024/3-pechenb.git
[submodule "3-fUS1ONd"]
	path = 3-fUS1ONd
	url = git@github.com:spbu-coding-2024/3-fUS1ONd.git
[submodule "3-d031273"]
	path = 3-d031273
	url = git@github.com:spbu-coding-2024/3-d031273.git
[submodule "3-DaryaNechaeva"]
	path = 3-DaryaNechaeva
	url = git@github.com:spbu-coding-2024/3-DaryaNechaeva.git
[submodule "3-RannyayaAnastasia"]
	path = 3-RannyayaAnastasia
	url = git@github.com:spbu-coding-2024/3-RannyayaAnastasia.git
[submodule "3-K1mer0"]
	path = 3-K1mer0
	url = git@github.com:spbu-coding-2024/3-K1mer0.git
[submodule "3-neepii"]
	path = 3-neepii
	url = git@github.com:spbu-coding-2024/3-neepii.git
[submodule "3-Egorkayka"]
	path = 3-Egorkayka
	url = git@github.com:spbu-coding-2024/3-Egorkayka.git
[submodule "3-Daniil-Chepurnikh"]
	path = 3-Daniil-Chepurnikh
	url = git@github.com:spbu-coding-2024/3-Daniil-Chepurnikh.git
[submodule "3-Galay-Nastya"]
	path = 3-Galay-Nastya
	url = git@github.com:spbu-coding-2024/3-Galay-Nastya.git
[submodule "3-RomanMaltsev"]
	path = 3-RomanMaltsev
	url = git@github.com:spbu-coding-2024/3-RomanMaltsev.git
[submodule "3-TheFollan"]
	path = 3-TheFollan
	url = git@github.com:spbu-coding-2024/3-TheFollan.git
[submodule "3-Ganesha1967"]
	path = 3-Ganesha1967
	url = git@github.com:spbu-coding-2024/3-Ganesha1967.git
[submodule "3-desiredeternity"]
	path = 3-desiredeternity
	url = git@github.com:spbu-coding-2024/3-desiredeternity.git
[submodule "3-Muhammdmagomedov"]
	path = 3-Muhammdmagomedov
	url = git@github.com:spbu-coding-2024/3-Muhammdmagomedov.git
[submodule "3-madarch1tect"]
	path = 3-madarch1tect
	url = git@github.com:spbu-coding-2024/3-madarch1tect.git
[submodule "3-VladislavLoikov"]
	path = 3-VladislavLoikov
	url = git@github.com:spbu-coding-2024/3-VladislavLoikov.git
[submodule "3-End0ra"]
	path = 3-End0ra
	url = git@github.com:spbu-coding-2024/3-End0ra.git
[submodule "3-Soslan977"]
	path = 3-Soslan977
	url = git@github.com:spbu-coding-2024/3-Soslan977.git
[submodule "3-lev666"]
	path = 3-lev666
	url = git@github.com:spbu-coding-2024/3-lev666.git
